.header {
  border: 2px solid black;
  background: #1C4587;
  text-align: center;
  padding-top: 17px;
  margin-top: -6px;
  color: white;
  font-size: 40px;
}

.image {
  height: 20px;
  width: 40px;
  background-color: #4A86E8;
  margin-left: auto;
  margin-right: auto;
  float: right;
}

.blue-bar {
  height: 15px;
  width: 50%;
  background-color: #CFE2F3;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  padding-top: 10px;
}

.top-margin {
  margin-top: -24px;
}

.text-block { 
  text-align: left;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
}

.footer {
  padding-bottom: 85px;
  background: #1C4587;
}
* {
  outline: 1px solid red;
}